html {
    overflow: scroll;
}

.box {
    margin: 0 0 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    font-size: 20px;
}

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

#loginbar {
    width: 100%;
}

#login {
    float: right;
    margin-right: 50px;
    margin: 20px;
}

#logo {
    margin-top: 20px;
    float: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    background-color: cadetblue;
    color: white;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#logo:hover {
    background-color: rgba(95, 158, 160, .8);
}

#loggeduser {
    float: right;
    margin-top: 20px;
    font-size: 1.5em;
}

.logincont {
    width: 400px;
    float: left;
    margin-left: 50px;
}

.form-control {
    margin: 10px;
}

.form .btn-block {
    margin: 10px;
}

.btn-block {
    margin-top: 10px;
}

#welcome {
    font-size: .8em;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#teacherlist {
    margin: auto;
    margin-top: 20px;
    font-size: 1.5em;
}

#calendar {
    padding: 20px;
    margin: auto;
    height: auto;
    max-height: 800px;
    overflow: hidden;
    max-width: 1000px;
}

md-content {
    font-size: 1.5em;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
}

#myModal {
    overflow: hidden;
}

#contactinfo {
    background-color: cadetblue;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    height: 200px;
}

#tcontact {
    margin-left: 50px;
}

#emaillink {
    color: rgb(230, 230, 230);
}

.abutton:hover {
    cursor: default;
}

.cheader {
    width: 100%;
    background: cadetblue;
    line-height: 60px;
    text-align: center;
    border-top-left-radius: 10px;
    margin-bottom: 0px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    overflow: hidden;
}

.cheader h1 {
    font-weight: bold;
    text-decoration: underline;
}

.contentbox {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #7EB1B3;
    border-bottom: 1px solid #1f253d;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}